<!DOCTYPE html5>
<html>
    <head>
        <style>
            #browser, #render {
                height: 100%;
            }

            #browser {
                width: 30vw;
                float: left; 
            }

            #render {
                margin-left: 30vw;
                width: auto;
            }

            .clear {
                clear: both;
            }
        </style>
    </head>
    <body>
        <div id="browser">
            browse
        </div>
        <div id="render">
            render
        </div>

        <div class="clear" />
    </body>
</html>
